{% extends "app/layout.html" %}

{% block content %}

<h2>{{ eazycom }} </h2>
<h3>{{ message }} </h3>

<address>

  <b> EAZYCOM IT  </br> </br> </b> 
  
Fundada em 2018, a Eazycom it é uma empresa dedicada exclusivamente a área de T.I e Telecom. </br> </br>

Mantendo um alto padrão de qualidade, Aliando toda eficiência necessária e o atendimento personalizado ao cliente. </br> </br>

  <b> SUPORTE </br> </br> </b> 

Com suporte em Redes, Infraestrutura, Cabeamento, CFTV, Softwares, Desenvolvimento, Administração de Sistema,
Gerenciamento de backups, Configuração de serviços de e-mail e Instalação e configuração de antivírus. </br> </br>


<b> MISSÃO </b> </br>

Atuar como empresa de serviços de tecnologia para o mercado,
possibilitando aos seus clientes melhoria e crescimento em seus processos de negócio. </br> </br>

<b> VISÃO </b> </br>

Viabilizar aos nossos clientes o acesso a soluções tecnológicas, boas práticas de TI e agilidade nos seus processos. </br> </br>

<b> VALORES </b> </br>

Comprometimento, ética, evolução, Responsabilidade, Flexibilidade e respeito com a equipe, parceiros e clientes.


</address>

</br> </br>

<p> EAZYCOM IT </p>

{% endblock %}
